.products-container {}

.first-product {}

.first-product h2 {
    text-align: center;
    color: #0F2666;

}

.first-product .underscore {
    margin: auto;
}

.first-product__card-deck {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.first-product__card-deck__card {
    margin: 20px;
    padding: 20px;
    width: 315px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #07153F;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    transition: transform 300ms;
}

.first-product__card-deck__card h2,
.first-product__card-deck__card a {
    color: rgb(255, 255, 255);
}

.first-product__card-deck__card p {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.first-product__card-deck__card-1 {
    background-image: url(./../images/bg/first-product/accept-payments-bg.svg);
}

.first-product__card-deck__card-2 {
    background-image: url(./../images/bg/first-product/x-bg.svg);
}

.first-product__card-deck__card-3 {
    background-image: url(./../images/bg/first-product/capital-bg.svg);
}

.first-product__card-deck__card:hover {
    transform: scale(1.05);
}

.first-product__card-deck__card-1:hover {
    background-image: url(./../images/bg/first-product/accept-payments-dark-bg.svg);
}

.first-product__card-deck__card-2:hover {
    background-image: url(./../images/bg/first-product/x-dark-bg.svg);
}

.first-product__card-deck__card-3:hover {
    background-image: url(./../images/bg/first-product/capital.svg);
}

.second-product {
    padding: 150px 0px 0px 0px;
    min-height: 100vh;
    position: relative;
    background-image: url(./../images/bg/second-product/triangle-bg.svg), url(./../images/bg/second-product/triangle-bg-down.svg);
    background-position: top left, 100% 200%;
    background-size: 700px 700px, 500px 500px;
    background-repeat: no-repeat;
}

.second-product__card-deck {
    margin: auto;
    width: 100%;
    max-width: 1080px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.second-product__card-deck__card {
    margin-bottom: 20px;
    padding: 40px;
    width: 318px;
    height: 305px;
}

.second-product__title {
    font-size: 40px;
    color: white;
}

.second-product__card-deck__card.product-card {
    color: #0F2666;
    border: none;
    box-shadow: 0 4px 22px rgba(202, 202, 202, 0.25);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 300ms;
}

.product-card a {
    font-family: inherit;
}

.second-product__card-deck__card.product-card:hover {
    transform: scale(1.05);

}

.second-product__card-deck__card.product-card p {
    line-height: 1.5;
}

.second-product__card-deck__card.product-card a {
    color: #518FF0;
    font-weight: bold;
}

.product-card-1 {
    background: url(./../images/bg/second-product/upi-autopay-bg-1.svg), url(./../images/bg/second-product/upi-autopay-bg-2.svg);
}


.product-card-2 {
    background: url(./../images/bg/second-product/payment-buttons-bg-1.svg), url(./../images/bg/second-product/payment-buttons-bg-2.svg);
}


.product-card-3 {
    background: url(./../images/bg/second-product/paper-nach-bg-1.svg), url(./../images/bg/second-product/paper-nach-bg-2.svg);
}


.product-card-4 {
    background: url(./../images/bg/second-product/thirdwatch-bg-1.svg), url(./../images/bg/second-product/thirdwatch-bg-2.svg);
}


.product-card-5 {
    background: url(./../images/bg/second-product/unregistered-bg-1.svg), url(./../images/bg/second-product/unregistered-bg-2.svg);
}

.product-card {
    background-repeat: no-repeat;
    background-position: -5px -5px,
        calc(100% + 5px) calc(100% + 5px);
    background-color: #fff;
}


@media (min-width:1023px) {
    .product-card-1:hover {
        background: url(./../images/bg/second-product/upi-autopay-hover.svg);
    }

    .product-card-2:hover {
        background: url(./../images/bg/second-product/payment-buttons-hover.svg);
    }

    .product-card-3:hover {
        background: url(./../images/bg/second-product/paper-nach-hover.svg);
    }

    .product-card-4:hover {
        background: url(./../images/bg/second-product/thirdwatch-hover.svg);
    }

    .product-card-5:hover {
        background: url(./../images/bg/second-product/unregistered-hover.svg);
    }

    .product-card:hover {
        background-size: cover;
        background-color: #fff;
    }
}

@media (max-width:1023px) {
    .first-product__card-deck {
        padding: 0px 10px;
        flex-direction: column;
        align-items: center;
    }

    .second-product__card-deck {
        flex-direction: column;
        align-items: center;
    }

    .second-product__card-deck__card {
        width: 90%;
        max-width: 500px;
        height: fit-content;
    }

    .product-card:hover {
        background: #fff;
    }
}